@charset "UTF-8";
body{
background-color:rgb(70, 70, 129);
}
header{
    color: cornsilk;
    background-color: crimson;
    min-height: 100px;
    max-height:150px;
    padding: 10px 10px 10px 10px ;
    margin:-8px ;
    border-radius: 0px 0px 10px 10px;
    text-align:center;
    text-shadow:5px 5px 10px black;
    border-bottom: 3px double rgb(88, 36, 36);
    font-size:1.2em;
}
nav{
    background-color: rgb(110, 9, 30);
    padding: 10px;
    margin:0px -10px;
    color:white;




}
main{
    background-color: cyan;
    min-width:280px;
    max-width:1000px;
    padding:10px;
    margin: auto;
}
