@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor0:#EBA673;
    --cor1:#04EB00;
    --cor2:#129E10;
    --cor3:#3B17EB;
    --cor4:#9E4908;
}
body{
    background-color:#c4f6c3;
}
header{
    background-image:url('imagens/foto-fundo.jpg');
    
    min-height:663px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
   

}
div#content-header {
     text-align: center;

     padding: 80px;
     padding-top: 150px;
     font-size: 1.5em;
     color:var(--cor3);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.424);
    
     
}
#h1-header{
  font-size:3em;
}
#p-header{
    padding-top: 15px;

    font-size: 1.2em;
    font-family: serif;
}
section#content-voto{
background-color: white;

min-width:250px;
max-width:1000px;
min-height: 600px;
margin:auto;
padding: 50px 20px 20px 20px;
border-radius:3px;
box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.555);
display:flex;
justify-content: space-around;

}
#h1-main{
    font:800 2.3em verdana, serif;
    letter-spacing:2px;
    padding: 0px 10px 20px 10px;
    color: var(--cor3);

}
#aside-extra{
    min-width: 50px;
    max-width: 200px;
}
#content-princ{
    min-width:150px;    
    max-width: 700px;
    display:flex;
    flex-direction: column;
  
    
}
#div-dados{
    padding: 10px;
    letter-spacing:1px;
    line-height: 16px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#div-dados > input {
    padding: 5px;
    margin: 10px;
}
#resul{
    padding-top: 50px;
    padding-right: 20px;
    text-align: center;
    margin: auto;
    line-height: 2em;
    

}
#foto-resultado{
    padding-top: 40px;
}

#analisar-reset{
    margin-top:20px ;
    padding: 0px 40px;

    display: flex;
    justify-content: space-between;
}
.botoes{
    padding: 8px;
    border: none;
    border-radius: 50px;
    background-color: var(--cor3);
    color: white;
}
#div-sexo{
    padding: 15px;
    line-height: 2em;
}


